html, body {
  margin: 0;
  padding: 0;
}

.center-screen {
  position: fixed;
  top: 85%;            
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  text-align: center;
}

.glow-text {
  color: #bdbfd9;
  font-size: clamp(14px, 3vw, 22px);
  padding: 10px;
  backdrop-filter: blur(3px); 
  mix-blend-mode: screen;
}

a.nav-link {
  color: #fb3f00;
  text-decoration: none;
}

a.nav-link:hover {
  text-decoration: underline;
  color: #8282bd;
}
