body {
  margin: 0;
  overflow: hidden;
  background: black;
}

#bg {
  width: 100vw;
  height: 100vh;

  background: url("snowydark.png") center no-repeat;
  background-size: cover;

  position: relative;

  border: clamp(10px, 5vw, 30px) solid black;
  box-sizing: border-box;
}

#bg::after {
  content: "";
  position: absolute;
  inset: 0;

  background: url("snowybright.png") center no-repeat;
  background-size: cover;

  -webkit-mask: radial-gradient(
    circle 80px at var(--x) var(--y),
    #fff 0 80px,
    transparent 110px
  );
          mask: radial-gradient(
    circle 80px at var(--x) var(--y),
    #fff 0 80px,
    transparent 110px
  );

  opacity: var(--afterOpacity, 0);
  transition: opacity 0.15s linear;
  pointer-events: none;
}
