body {
  margin: 0;
  overflow: hidden;
  background: black; 
}

#bg {
  width: 100vw;
  height: 100vh;

  background: url("snowydark.png") center no-repeat;
  background-size: contain;

  position: relative;

  border: 30px solid black;
  box-sizing: border-box;   
}

#bg::after {
  content: "";
  position: absolute;
  inset: 0;

  background: url("snowybright.png") center no-repeat;
  background-size: contain;

  -webkit-mask: radial-gradient(
    circle 70px at var(--x) var(--y),
    #fff 0 70px,
    transparent 80px
  );
          mask: radial-gradient(
    circle 70px at var(--x) var(--y),
    #fff 0 70px,
    transparent 80px
  );

  opacity: var(--afterOpacity, 0);
  transition: opacity 0.2s;
  pointer-events: none;
}
